extends layout

block content
  h1= title
  p Welcome to #{title}




  form
  .form-group
    label(for='exampleInputEmail1') Email address
    input.form-control#exampleInputEmail1(type='email' aria-describedby='emailHelp')
    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
  .form-group
    label(for='exampleInputPassword1') Password
    input.form-control#exampleInputPassword1(type='password')
  .form-group.form-check
    input.form-check-input#exampleCheck1(type='checkbox')
    label.form-check-label(for='exampleCheck1') Check me out
  button.btn.btn-primary(type='submit') Submit